:root {
    font-size: 62.5%;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    color: #000000;

    font-family: "Montserrat";
}

body {
    font-size: 1.6rem;
}

a {
    text-decoration: inherit;
}

button {
    width: 100%;
    border-radius: 0.4rem;
    padding: 1.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: #feaf00;
    color: #ffffff;
    cursor: pointer;
    border: none;
}
